.mainContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 70px;
    width: 90%;
    max-width: 800px;
    background-color: #0a9396;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    margin-top: 50px;
}

@media(max-width:600px){
    .mainContainer{
        padding: 20px;

    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 25px;
    /* width: 80vw ; */
    /* height: 80vh; */
}

.containerInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{
    height: 35px;
    width: auto;
    font-size: large;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 15px;
    color: rgb(32, 32, 32);
    font-size: 16px;
}

.span{
    align-self: flex-start;
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #bb3e03;
    outline: none;
    color: white;
    background: #bb3e03;
    font-weight: 600;
    font-size: 18px;
}


.btn:hover{
    cursor: pointer;
    border: 2px solid #bb3e03;
    background:white;
    color: #bb3e03;
}