.grass{
    background: #34da76;
}

.poison{
    background: #da2470;
}

.water{
    background: #2479da;
}

.fire{
    background: #da3324;
}
.electric{
    background: rgb(234, 255, 0);
    color: rgb(187, 183, 179);
}
.ground{
    background: sandybrown;

}
.fairy{
    background: pink;
}
.ice{
    background: rgb(0, 115, 255)
}
.bug{
    background: brown;
}
.normal{
    background: gray;
}
.flying{
    background: #da2470;
}
.errors{
    color: red
}
.pagination{
    display: flex;
    margin: auto;
    width: min-content;
    gap: 10px;
    align-items: center;
    color: white;
}

.pagination button{
    padding: 1px 10px;
}

.pagination>div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.buttonCreate{
    background: #ed5564;
    outline: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    width: auto;
    margin: auto;
}
.pokeDetail {
    background: #191c1f;
    min-width: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    border: 1px solid white;
}

.pokeDetail img{
    min-width: 300px;
}

.pokeDetail > button{
    background: #da2470;
    border: 1px solid #da2470;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.pokeDetail > button:hover{
    /* border-radius: ; */
    background: white;
    color: #da2470;
}

.pokeDetail__name{
    font-size: 20px;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 20px;
}

.pokeDetail__container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-right: 50px ;
}

.pokeDetail__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pokeDetail__types{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.pokeDetail__stats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}