body,html{
    margin: 0;
    min-height: 100vh;
    background: #1f252b;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


input,select{
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(32, 32, 32);
    font-size: 15px;
    background: white;
}

a{
    text-decoration: none;
    color: black;
}

button{
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
    gap: 35px;
    /* background-color: rgb(87, 117, 122); */
}
.filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    background: #191c1f;
    margin: auto;
    color: white;
    padding: 20px 20px;
    gap: 15px;
    flex-wrap: wrap;
}

.filtros>div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.cFiltro{
    height: 20px;
}

.header{
    margin-bottom: 40px;
    display: flex;    
    flex-direction: column;
    gap: 30px;
}

.headerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    gap: 50px;
}

.headerTitle>img:first-child{
    height: 50px;
}

.headerTitle>img:last-child{
    height: 90px;
    /* width: 300px; */
}

.cardsContainer{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: x-large;
    border: 1px solid white;
    cursor: pointer;
    background: #191c1f;
}

.cardsContainer:hover .cardImg{
    /* transform: scale(1.25) translateY(-30px); */
    box-shadow: 0 0 10px, 0 0 50px, 0 0 100px #aeb5bb4f;
}   

.pokeName{
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    margin-bottom:15px;
}

.pokeTypesContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.pokeType{
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 4px 20px;
}

.cardImg{
    transition: all 0.25s ease;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.divLink button{
    height: 40%;
    width: 40%;
    border-style: solid;
    border-radius: 5px;
    background-color: azure;
    font-size: large;
}

.link{
    text-decoration: none;
}

.fire{
    background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_124349900_fire-background.html&psig=AOvVaw3XBW3IuAAX8VKpLsZPw5P-&ust=1649142977347000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCMDzq7zu-fYCFQAAAAAdAAAAABAD";
}


@media(max-width:560px){

    .headerTitle{
        gap: 10px;
    }

    .filtros div,.filtros select{
        width: 100%;
    }

}
